
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('barisv44.gif');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    color: #333;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 10px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #2980b9;
    border-radius: 5px;
}

.hero {
    background-image: url('barisv44.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn {
    background-color: #7f8c8d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c0392b;
}

.content {
    width: 85%;
    margin: 50px auto;
    text-align: center;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.map-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    z-index: 10;
}
.overlay-texth {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    z-index: 10;
    width: 85%;
    margin: 50px auto;
}
.overlay-texth h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.contentt {
    width: 85%;
    margin: 50px auto;
    text-align: center;
}

.contentt h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
